.speech{
    font-family: sans-serif;
    font-size: 15px;
    color: black;
}

.stagedirections{
    background-color: lightgreen;
}

.stagedirections:hover{
    background-color: blue;
    color: goldenrod;
}

.goring{
    color: hotpink;
}

.robert{
    color: indigo;
}